- name: Download K9s binary
  get_url:
    url: "https://github.com/derailed/k9s/releases/latest/download/k9s_Linux_amd64.tar.gz"
    dest: /tmp/k9s.tar.gz
  
- name: Extract k9s
  unarchive:
    src: /tmp/k9s.tar.gz
    dest: /tmp/
    remote_src: yes

- name: Move binary to /usr/local/bin
  command: mv /tmp/k9s /usr/local/bin/k9s
  args:
    creates: /usr/local/bin/k9s

- name: Ensure k9s is executable
  file:
    path: /usr/local/bin/k9s
    mode: '0755'