- name: Install Homebrew on macOS if not present
  command: /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  args:
    creates: /usr/local/bin/brew

- name: Install K9s on macOS
  homebrew:
    name: k9s
    state: present