- name: Detect OS
  set_fact:
    is_linux: "{{ ansible_facts['os_family'] in ['Debian', 'RedHat', 'Suse', 'Archlinux'] }}"
    is_macos: "{{ ansible_facts['os_family'] == 'Darwin' }}"
    is_windows: "{{ ansible_facts['os_family'] == 'Windows' }}"

- name: Download K9s binary
  get_url:
    url: "https://github.com/derailed/k9s/releases/latest/download/k9s_Linux_amd64.tar.gz"
    dest: /tmp/k9s.tar.gz
  when: is_linux
  
- name: Extract k9s
  unarchive:
    src: /tmp/k9s.tar.gz
    dest: /tmp/
    remote_src: yes
  when: is_linux

- name: Move binary to /usr/local/bin
  command: mv /tmp/k9s /usr/local/bin/k9s
  args:
    creates: /usr/local/bin/k9s
  when: is_linux

- name: Ensure k9s is executable
  file:
    path: /usr/local/bin/k9s
    mode: '0755'
  when: is_linux

- name: Install Homebrew on macOS if not present
  command: /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  args:
    creates: /usr/local/bin/brew
  when: is_macos

- name: Install K9s on macOS
  homebrew:
    name: k9s
    state: present
  when: is_macos

- name: Download K9s for Windows
  win_get_url:
    url: "{{ k9s_windows_url }}"
    dest: "{{ k9s_windows_dest }}"
  when: is_windows

- name: Extract K9s on Windows
  win_unzip:
    src: "{{ k9s_windows_dest }}"
    dest: "{{ k9s_windows_extract }}"
  when: is_windows
